/* header related styles */
.body{
    font-family: 'Open Sans', sans-serif;
    padding: 0px 300px 0px 0px;
}
.body-description{
    color: #757575;
    text-align: start;
    font-size: 18px;
    padding: 0px 120px 0px 0px;
   
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 150px;
    border-radius: 8px;
}
.btn-primary{
    color: #FFF;
    font-size: 10px;
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    gap: 10px;
    border: 0px;
    
}

/* our feature related styles */
.feature{
    padding: 80px;
    border-radius: 10px;
    margin: 30px 0;
}
.flower{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.feature-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    padding: 0px 290px;
}
.img{
    display: flex;
    justify-content: space-around;
    padding: 0px 120px;
}
.img-description{
    text-decoration: underline;
    display: block;
    text-align: center;
}
.img-background-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.img-background-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.img-background-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

#img-color{
    padding: 100px 70px 0px 70px;
}
.color{
    color: #E55473;
}
/* deal section related styles */
.deal-items{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    border-radius: 8px;
    padding: 0px 100px;
}
.change{
    padding: 20px 100px 0px 0px;
}
.deal-title{
   
    font-size: 35px;}
.deal{
    flex-direction: column;
    padding: 50px 100px;
    text-align: center;
}
.deal-description{
    padding: 0px 100px 0px 0px;
    margin-left: 70px;
    
}
.image-width{
    padding-left: 150px;
}
#design{
    padding-left: 20px;
}

/* form related styles */
.instagram{
    background-image:  url('../Rectangle\ 9.png');
    padding: 0px;
    height: 300px;
    background-repeat:no-repeat;
    background-size: cover;
    background-image: fixed;
    gap: 200px;
    margin: 160px;
}
form{
    text-align: center;
}
.center{
    padding: 70px;
}
/* footer related styles */
footer{
    background-color: black;
    height: 300px;
    padding: 20px 0px 0px 0px;
}
.footer-description{
    color: white;
    font-size: 18px;
    line-height: 30px;
    width: 625px;
    text-align: center;
    padding: 0px 280px;
}